.preview-div {
    width: 75%;
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.preview-text {
    width: 75%;
    height: 20vh;
    display: block;
    margin: auto;
}

.preview-button {
    width: 25%;
    height: 30px;
    margin-top: 5px;
    padding: 0px;

}